* {
    background-color: crimson;
}

.one {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
}

ul  {
    background-color: yellow;
    color: white;
    display: block;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    gap: 40px;
    margin: 50px;
}

li{
    padding: 10px;
}
