.one {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
}

ul  {
    background-color: yellow;
    color: blue;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    gap: 40px;
    
    
}

